<a class="c-logo" href="{{ base_url == '' ? '/' : base_url }}">
  <img src="{{ url('theme://images/logo.png') }}" alt="{{ config.site.title }}">
</a>
<div class="c-slogan">
  <span class="letter--big">H</span>arp by <span class="letter--big">L</span>adislav <span class="letter--big">P</span>app
</div>
