/**
 ******************************************************************************
 *** TYPE ELEMENT ***
 ******************************************************************************
 *
 * Theming text elements.
 */

/**
 ** Settings **
 */

/**
 * Global selected text
 */

$base-selected-text             : true;
$base-selected-text-color       : white;
$base-selected-text-background  : $color-brand;

/**
 * Paragraph margins
 */

$base-paragraph-margins         : true;
$base-paragraph-margin-size     : 1em;

/**
 * Inline and Code Blocks
 */

$base-code-tab-size             : 4;

/**
 * Global Link Element
 */

// :link, :visited states
$base-link-color                : #f00;

// :hover, :focus, :active states
$base-link-color-accent         : darken($base-link-color, 15%);

// underlined links
$base-link-text-decoration      : none;

// outlined links in :focus state
$base-link-outline              : none;

/**
 * Import Type element from Shake.sass.
 */

@import "node_modules/shake.sass/3.base/base.type";

/**
 * Theming other inline text html elements.
 */

h1 {
  font-size: $heading1-font-size * 0.75;

  @include breakpoint(small) {
    font-size: $heading1-font-size;
  }
}

h2 {
  font-size: $heading2-font-size;
}

h3 {
  font-size: $heading3-font-size;
}

h4 {
  font-size: $heading4-font-size;
}

h5 {
  font-size: $heading5-font-size;
}

h6 {
  font-size: $heading6-font-size;
}

a {
  transition: all 0.2s ease;
}

mark {
  background: none;
  color: lighten($color-brand, 10%);
  font-weight: 700;
}
