@charset "UTF-8";

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  min-height: 100%;
  overflow-x: hidden;
  height: 100%;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  overflow: visible;
}

[type="checkbox"] {
  padding: 0;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

body {
  height: 100%;
  color: #fff;
  font: 400 1.4rem "PT Serif",Georgia,serif;
}

.o-container {
  padding-right: 2rem;
  padding-left: 2rem;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.c-logo {
  display: block;
  margin: 1.1rem auto 1.6rem;
  max-width: 32rem;
}

.c-logo__image {
  display: block;
  margin: 0 auto;
}

.c-navigation__checkbox {
  display: none;
}

.c-navigation__button {
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 1200;
  text-align: center;
}

.c-navigation__icon {
  position: relative;
  margin-top: 2.4rem;
}

.c-navigation__icon,
.c-navigation__icon::before,
.c-navigation__icon::after {
  display: inline-block;
  width: 2.5rem;
  height: 2px;
  background-color: #4e4233;
}

.c-navigation__icon::before,
.c-navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
}

.c-navigation__icon::before {
  top: -0.8rem;
}

.c-navigation__icon::after {
  top: 0.8rem;
}

.c-navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  background-image: radial-gradient(#4e4233,black);
  z-index: 1000;
}

.c-sidebar {
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: inherit;
  flex-basis: auto;
  width: 100%;
  min-width: 0;
  flex: 0 0 100%;
  max-width: 100%;
  padding-top: 2.6rem;
  background: none;
}

.c-site::after {
  position: relative;
  content: "";
  display: block;
  background-size: cover;
  height: 50rem;
  border: 2px solid #4e4233;
  margin: 3rem auto;
  width: 100%;
}

.c-slogan {
  color: #4e4233;
  border-top: 1px solid #5d5347;
  border-bottom: 1px solid #5d5347;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  max-width: 32rem;
  margin: auto;
}

.c-slogan .letter--big {
  font-size: 2.6rem;
}

@media screen and (min-width:30em) {
  .o-container {
    max-width: 91%;
  }

  .c-site::after {
    max-width: 320px;
  }

  .c-slogan {
    font-size: 2rem;
  }

  .c-slogan .letter--big {
    font-size: 2.8rem;
  }
}
