/**
 ******************************************************************************
 *** COLOR SETTINGS ***
 ******************************************************************************
 *
 * Only global color variables. Local color variables you can find in module
 * files in `3.base` or `5.components` directories.
 * Only assigned colors. You can't use any color tools here.
 */

/**
 * Global colors
 */

$color-brand                : #4e4233;
$color-primary              : $color-brand;
$color-secondary            : #5d5347;

$global-color               : white;
$global-background          : black;
