/**
 ******************************************************************************
 *** TYPE SETTINGS ***
 ******************************************************************************
 *
 * Global typography settings.
 */

/**
 * Font family settings
 *
 * Recommended to use only system fonts. If you need to use custom webfont you
 * can use as fallback font-stack.
 */
$font-family--serif:
  "PT Serif",
  Georgia,
  serif;

$font-family--system:
  -apple-system,
  system-ui,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";

// Don't remove it, it's used by css normalizer!
$font-family--monospace:
  SFMono-Regular,
  Menlo,
  Monaco,
  "Segoe UI Mono",
  Consolas,
  "Liberation Mono",
  "Courier New",
  monospace;

$font-family--sans          : "Fira Sans", "Trebuchet MS", $font-family--system;

$global-font-family         : $font-family--serif;

/**
 * Font weights
 *
 * We store font-weight for global font-family.
 * Font-weight could be different in each font-families; change it to your
 * font-family.
 */
$font-weight--normal        : 400;
$font-weight--bold          : 700;

/**
 * Line-height
 */
$global-line-height         : 1.2;

/**
 * Responsive font sizes
 *
 * @example
 *   breakpoint-name: ( font-size, optional-line-height )
 *
 * Breakpoint names come from $global-breakpoints declared in
 * `1.settings/_settings.breakpoints`.
 *
 * 'null' means no breakpoint (default)
 */
// Body (global) font-size
$global-font-size: 1.4rem;

// Heading font sizes
$heading1-font-size: 3.3rem;
$heading2-font-size: 2.8rem;
$heading3-font-size: 2.4rem;
$heading4-font-size: 2rem;
$heading5-font-size: 1.8rem;
$heading6-font-size: 1.6rem;

// Paragraph font-size
$paragraph-font-size: 1.2;
