{% extends 'partials/base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {% do assets.addCss('theme://vendors/fslightbox/fslightbox.min.css', 10) %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% do assets.addJs('theme://vendors/fslightbox/fslightbox.min.js', {priority: 10, group: 'bottom'}) %}
{% endblock %}

{% block content %}
  {{ page.content }}

  <div class="c-audio__list">
    {% for module in page.collection() %}
      {{ module.content }}
    {% endfor %}
  </div>
{% endblock %}
