/**
 ******************************************************************************
 *** NAVIGATION TOOL ***
 ******************************************************************************
 *
 * Mixins for common navigation styles.
 */

@mixin navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  line-height: 1;
  text-transform: uppercase;
  font-family: $font-family--sans;

  &__item {
    padding: 0 6px 0 7px;
    white-space: nowrap;
    line-height: 0.9;

    &:not(:last-child) {
      border-right: 1px solid $color-brand;
    }
  }

  &__link {
    display: block;

    &:link,
    &:active,
    &:visited {
      color: white;
      text-decoration: none;

      @include breakpoint(medium) {
        color: $color-brand;
      }
    }

    &:hover,
    &:focus,
    &.is-active {
      color: white;
    }
  }
}
