/**
 ******************************************************************************
 *** LOGO COMPONENT ***
 ******************************************************************************
 *
 * Theming logo.
 */

.c-logo {
  display: block;
  margin: 1.1rem auto 1.6rem;
  max-width: 32rem;

  &__image {
    display: block;
    margin: 0 auto;
  }
}
