/**
 ******************************************************************************
 *** PAGE COMPONENT ***
 ******************************************************************************
 *
 * Theming page (main area).
 */

.c-page {
  @include make-column();
  @include column-size(12/12);

  position: relative;

  @include breakpoint(large) {
    @include make-column(7rem);
    @include column-size(8/12);
  }

  &::after {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0.2rem;

    .webp & {
      background: url(../images/navigation--bottom.webp) no-repeat center bottom;
    }

    .no-webp & {
      background: url(../images/navigation--bottom.jpg) no-repeat center bottom;
    }
  }

  &__title {
    color: $color-brand;
    padding: 2.8rem 0 2.2rem;
    text-transform: uppercase;
  }
}
