/**
 ******************************************************************************
 *** SIDEBAR COMPONENT ***
 ******************************************************************************
 *
 * Theming sidebar.
 */

.c-sidebar {
  @include make-column();
  @include column-size(4/12);

  padding-top: 2.6rem;
  background: #c4c4c4 url(../images/ladislav-papp.jpg) center bottom no-repeat;
  background-size: 100%;
  border: 2px solid $color-brand;
  min-height: 82.5rem;
}
