/**
 ******************************************************************************
 *** SIDEBAR COMPONENT ***
 ******************************************************************************
 *
 * Theming sidebar.
 */

.c-sidebar {
  @include make-column();
  @include column-size(12/12);

  padding-top: 2.6rem;
  background: none;

  @include breakpoint(medium) {
    margin-bottom: 4rem;
  }

  @include breakpoint(large) {
    @include column-size(4/12);

    background: #c4c4c4 url(../images/ladislav-papp.jpg) center bottom no-repeat;
    background-size: 100%;
    min-height: 82.5rem;
    border: 2px solid $color-brand;
    margin-bottom: 0;
  }
}
