/**
 ******************************************************************************
 *** LOGO COMPONENT ***
 ******************************************************************************
 *
 * Theming logo.
 */

.c-logo {
  display: block;

  &__image {
    display: block;
    margin: 0 auto;
  }
}
