/**
 ******************************************************************************
 *** FOOTER COMPONENT ***
 ******************************************************************************
 *
 * Theming page footer.
 */

.c-footer {
  margin-left: 4 / 12 * 100%;
  padding-left: $gutter--medium / 2;
  padding-right: $gutter--medium / 2;
}
